// Element IO colors

$gray-darkest: #303133;
$gray-darker: #606266;
$gray-dark: #909399;
$gray: #C0C4CC;
$gray-light: #DCDFE6;
$gray-lighter: #E4E7ED;
$gray-lightest: #EBEEF5;
$gray-silver: #F2F6FC;


$danger: #F56C6C;
$warning: #E6A23C;
$success: #67C23A;
$primary: #409EFF;

$yellow-highlight: #FEFBEC;
